@font-face {
    font-family: "RocknRoll";
    src: url("./font/RocknRollOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nagino";
    src: url("./font/nagino.otf");
    font-weight: normal;
    font-style: normal;
}
