.main{
    border: 2px solid #4a0;
    border-bottom: 4px solid #4a0;
}
#here{ color: #4a0;}

.t{
    margin-top: 12px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.t-big{
    height: 240px;
    display: inline-block;
}
.t-small{
    text-align: left;
    margin-left: 8px;
    width: 260px;
    display: inline-block;
}
.pfp{
    width: 100px;
    height: 100px;
    margin: 4px;
}

/*-------------------------------- screen --------------------------------*/
@media screen and (max-width: 660px){
    .t-small{ margin-left: 0px;}
}