*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fff;
    font-family: "Zen Kaku Gothic New", Verdana, Tahoma, sans-serif, system-ui;
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

a{ font-weight: bold;}
a:link{ color: #0ab;}
a:visited{ color: #888;}
a:hover{ color: #07a;}

p, ul{ margin: 12px 4px;}
li{ margin: 2px 4px;}

hr{
    border: 1px dashed #aaa;
    margin: 16px auto;
}

footer{
    font-size: 12px;
    color: #888;
    margin-top: 8px;
    margin-bottom: 400px;
    text-align: center;
    vertical-align: bottom;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 2px;
}

.date{
    background-color: #222;
    background-image: url(./shioritori/img/bg_checker_dark_32.png);
    background-size: 24px;
    background-blend-mode: difference;
    border-radius: 4px 4px 0px 0px;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.list{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.post{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #00101088;
    padding-bottom: 4px;
    margin-top: 28px;
    text-align: left;
}

.withbg{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./blog/img/post_bg.png");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.text{
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: tahoma, sans-serif, system-ui;
}
#pinned{
    background-image: url(./blog/img/blog-pin.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 128px;
    margin-bottom: 48px;
}
#pinned .date{ background-color: #a20;}
#pinned .date b{
    background-color: #0006;
    border-radius: 4px;
    padding: 0px 6px;
}
#pinned::before{
    content: "- pinned -";
    font-family: "LXGW Marker Gothic", Verdana, Tahoma, sans-serif, system-ui;
    font-size: 16px;
    font-weight: bold;
    background: #eee;
    border-left: 3px dashed #bbb;
    border-right: 3px dashed #bbb;
    border-radius: 4px;
    box-shadow: 3px 3px #00101088;
    color: #d30;
    
    margin-left: -20px;
    padding: 0px 4px 2px;
    position: absolute;
    top: 28px;
    z-index: 1;
    transform: rotate(-15deg);
}

.arrow{
    font-size: 12px;
    color: #888;
    max-width: 540px;
    position: relative;
    margin-top: 32px;
}
.fl{ text-align: left;}
.fr{ text-align: right;}

.tags{
    font-size: 0px;
    text-align: right;
}
.tags span{
    background-color: #fff;
    font-size: 12px;
    margin: 8px 4px;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0px 0px 2px #00101088;
    width: fit-content;
    color: #888;
}

/* -------------------- COLR -------------------- */
span.sbld{ font-weight: bold;}
span.sred{ color: #c21}
span.spnk1{ color: #c16}
span.sblk{ color: #222}
span.scyn{ color: #1ac}

/* -------------------- SIZE -------------------- */
/* phone */
@media screen and (max-width:600px){
    img{ max-width: 98%;}
    .post, .tags{ max-width: 95%;}
    .fl{ left: 16px;}
    .fr{ left: -16px;}
    #pinned::after{ left: -120px;}
}

/* tablet & pc */
@media screen and (min-width:600px){
    img{ max-width: 500px;}
    .post, .tags{ max-width: 500px;}
}
