.main{
    border: 2px solid #0ac;
    border-bottom: 4px solid #0ac;
}
#here{ color: #0ac;}
hr{ border: 1px dashed #04c;}

.m_board_out{
    background-color: #09b;
    background-image: url(./shioritori/img/bg_checker_dark_32.png);
    background-size: 16px;
    box-shadow: 0px 0px 1px inset #00101088;
    background-blend-mode: difference;
    /*
    filter: contrast(2);
    */
    margin-top: 16px;
}
.m_board_in{
    background-color: #000;
    background-image: url(./shioritori/img/bg_diag_light_32.png);
    background-size: inherit;
    background-blend-mode: inherit;
    box-shadow: 0px 0px 1px #00101088;
    text-align: center;
    /*
    filter: contrast(0.5);
    */
}

.bmark img{
    margin-top: 4px;
    width: 200px;
    height: 40px;
}

.ch-table{ width: 404px;}
.ch-tr{ width: 322px;}

/*-------------------------------- screen --------------------------------*/
@media screen and (max-width: 420px){
    .ch-table, .ch-table div{
        max-width: 100%;
        text-align: center;
    }

}