*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: tahoma, sans-serif;
    font-size: 14px;
}
h1{ font-family: 'Mochiy Pop One', 'LGXW Marker Gothic', tahoma, sans-serif;}

hr{
    margin: 8px auto;
    max-width: 680px;
    border: 1px solid #ccc
}
.ndred:link, .ndred:visited{ color: #900;}
.ndorg:link, .ndorg:visited{ color: #b40;}
.ndylw:link, .ndylw:visited{ color: #a90;}
.ndlim:link, .ndlim:visited{ color: #390;}
.ndcyn:link, .ndcyn:visited{ color: #079;}
hr.ndred{ border: 1px dashed #900;}
hr.ndorg{ border: 1px dashed #b40;}
hr.ndylw{ border: 1px dashed #a90;}
hr.ndlim{ border: 1px dashed #390;}
hr.ndcyn{ border: 1px dashed #079;}
.ndred#here{ border: 1px solid #900;}
.ndorg#here{ border: 1px solid #b40;}
.ndylw#here{ border: 1px solid #a90;}
.ndlim#here{ border: 1px solid #390;}
.ndcyn#here{ border: 1px solid #079;}
a#here:hover{ border: 1px solid #eee;}
.ndred:hover, .ndorg:hover, .ndylw:hover, .ndlim:hover, .ndcyn:hover{ color: #eee;} 

header img{
    width: 800px;
    height: 100px;
}
header nav {
    font-family: "LXGW Marker Gothic", helvetica, sans-serif;
    font-size: 0px;
    
    max-width: 660px;
    height: 40px;
    align-content: end;
}
header nav a {
    background: #f8f8f8;
    background-image: url(./shioritori/img/bg_diag_light_32.png);
    background-blend-mode: multiply;
    background-size: 8px;
    border: 0px solid #0ce;
    box-shadow: 0px 0px 2px #00101088;
    border-radius: 4px;
    color: #000;
    
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    
    width: 128px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
}
header nav a:link, header nav a:visited{ color:#000}
header nav a:hover{ background-blend-mode: exclusion; color: #eee;}

footer{
    background-color: #eee;
    color: #888;
    font-family: "Zen Kaku Gothic New", tahoma, sans-serif;
    font-size: 12px;

    margin-top: 48px;
    padding-top: 10px;
    padding-bottom: 128px;
}
footer a{
    font-weight: bold;
    width: 60px;
    height: 16px;
    display: inline-block;
}
footer p{ height: 16px;}

/*--------------------------------  main  --------------------------------*/
.main{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Zen Kaku Gothic New", tahoma, sans-serif;
    text-align: left;
    
    max-width: 720px;
    min-height: 400px;
    margin: 16px 4px;
    padding: 32px 4px;
}

a:link{ color: #0ab;}
a:visited{ color: #888;}
a:hover{ color: #07a;}
a img:hover{ filter: brightness( 0.5) saturate(1.5)}

h1, h2, h3, h4, h5, h6, p{ margin: 12px 16px 2px;}
.main h1{ margin-top: 92px;}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.marrow{
    font-family: "Zen Kaku Gothic New", tahoma, sans-serif;
    position: relative;
    top: -16px;
    margin-bottom: 16px;
}
.mpaper{
    background: #fff;
    background-image: url(./shioritori/img/bg_diag_light_32.png);
    background-blend-mode: multiply;
    background-size: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px #00101088;
}

/*-------------------------------- screen --------------------------------*/
@media screen and (max-width: 660px){
    header nav{ height: 80px;}
}
