.main{
    border: 2px solid #a10;
    border-bottom: 4px solid #a10;
}
#here{ color: #a10;}
h3{ margin-top: 40px;}
hr{ border: 1px dashed #b10;}

.cover{
    margin: 12px 24px 0px;
    height: 60px;
    width: 300px;
}

.tags{
    margin: 14px 24px;
}
.tags span{
    background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./shioritori/img/bg_diag_light_32.png);
    background-size: 16px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #00101088;
    font-size: 12px;
    margin: 0px 2px;
    padding: 2px 4px;
}
.sbld{
    border-left: 2px solid #888;
    font-weight: bold;
}
