body{
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post{
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
/*    box-shadow: 4px 6px #00001099;*/
    padding: 8px;
    text-align: left;
}

.blog{
    padding: 8px;
}

.foot{
    padding-top: 20px;
    text-align: center;
    vertical-align: bottom;
}

.date{
    padding-left: 20px;
    text-align: left;
}

.line{
    border: 1px dashed #000000;
    margin: 2px;
}

.pic{
    padding: 4px;
}

.text{
    padding-left: 20px;
    padding-right: 20px;
}

.list{
    text-align: left;
    padding-right: 20px;
}

/* -------------------- SIZE -------------------- */
/* phone */
@media screen and (max-width:600px){
    .blog{
        max-width: 100%;
    }

    .line{
        max-width: 98%;
    }

    .pic{
        max-width: 92%;
    }

    .list{
        padding-left: 20px;
    }
}

/* */
@media screen and (min-width:600px){
    .blog{
        max-width: 600px;
    }

    .line{
        max-width: 560px;
    }

    .pic{
        max-width: 400px;
    }

    .list{
        padding-left: 20px;
    }
}
