body{
    background-color: #fff;
    font-family: Verdana, Tahoma, sans-serif, system-ui;
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

footer{
    margin-top: 8px;
    margin-bottom: 400px;
    text-align: center;
    vertical-align: bottom;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

a:link{
    color: #799;
}

a:visited, a:hover{
    color: #abb
}

.date{
    background-image: linear-gradient(#222, #233);
    color: #eee;
    border-radius: 16px 16px 0px 0px;
    padding-top: 12px;
    padding-bottom: 4px;
    text-align: center;
}

.list{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.post{
    background-color: #fff;
    border: 0px solid #222;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 0px 8px #00101088;
    padding-bottom: 1px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: left;
}

.text{
    padding-top: 6px;
}

#pinned{
    border: 3px solid #eee;
    border-radius: 20px 20px 0px 0px;
}

/* -------------------- SIZE -------------------- */
/* phone */
@media screen and (max-width:600px){
    img{
        max-width: 98%;
    }

    .post{
        max-width: 95%;
    }

    .text{
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* tablet & pc */
@media screen and (min-width:600px){
    img{
        max-width: 500px;
    }

    .post{
        max-width: 520px;
    }

    .text{
        padding-left: 8px;
        padding-right: 8px;
    }
}
