<!DOCTYPE html>
<html>
    <head>
        <title>（ 'ヮ' ）</title>
        <link rel="stylesheet" type="text/css" media="all" href="./ui/font.css" >
        <link rel="stylesheet" type="text/css" media="all" href="./ui/ooo-table.css" >
        <link rel="stylesheet" type="text/css" media="all" href="./ui/main.css" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <style>
        .pfp{
            width: 120px;
            margin: 0px 24px 0px;
        }
        </style>
    </head>
    <body>
        <center>
            <div class="mydiv">
                <!--------------------------------  ▼ main ▼  -------------------------------->
                <iframe class="side-frame" title="sidebar" scrolling="no" src="./sidebar.html"></iframe>
                <div class="main">
                    <div class="sepparate"></div>
                    <div class="main-content">
                        <h1>about</h1>
                        <img class="pfp" src="./ui/meta/about.png">
                        <p>
                            hellooooooo i'm tami !! （ 'ヮ' ）° i made this website to showcase
                            my ocs and stories.
                            im not super great at describing things, so i hope you don't mind that.
                        </p>
                        <p>
                            i don't know what else to put here. （´ ∇｀''）
                        </p>
                        <div class="ooo-table ooo-bigger">
                            <div class="ooo-row">
                                <div class="ooo-tl">pronouns</div>
                                <div class="ooo-tr">she/her</div>
                            </div>
                            <div class="ooo-row">
                                <div class="ooo-tl">tools</div>
                                <div class="ooo-tr">Ibis Paint X (mobile), Clip Studio Paint, RPG Maker MV</div>
                            </div>
                            <div class="ooo-row">
                                <div class="ooo-tl">site launch</div>
                                <div class="ooo-tr">2025/nov/05</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
            <!-------------------------------- ▲ main ▲ -------------------------------->
        <footer>
            <iframe class="foot-frame" title="footer" scrolling="no" src="./footer.html"></iframe>
        </footer>
    </body>
</html>
