*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 0px;
    background-size: cover;
}
hr{
    width: 340px;
    margin: 8px auto;
    border: 1px solid #d0d0d0;
}
footer{
    width: 100%;
    font-size: 12px;
    font-family: "nagino", Tahoma, sans-serif;
    height: fit-content;
    background-color: #000;
    color: #e8eaec;
    padding: 0px 0px 64px;
    text-align: center;

    padding-top: 16px;
    border-top: 4px double #fff;
    z-index: 3;
    mix-blend-mode: multiply
}
.foot-frame{
    border: none;
    width: 400px;
    height: 32px;
}
img{ display: inline-block;}
p{ margin: 0px;}
div { box-sizing: border-box;}
a:hover{ filter: brightness(0.5) saturate(2);}

/* -------------------- MAIN -------------------- */

.ch{
    max-width: 920px;
    font-family: "nagino", Tahoma, sans-serif;
    font-size: 0px;
    color: #202020;
    border: 1px solid #202020;
    margin: 64px auto 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;

    background-color: #e8e8e8;

    border-radius: 16px;
    box-shadow: 4px 6px 1px #0001;
    box-sizing: content-box ;
}
.ch-txt, .ch-img{
    display: inline-block;
    position: relative;
}
.ch-txt{
    width: 360px;
    min-height: 660px;
    padding: 0px 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0px 16px 16px 0px;
}
.ch-img{
    width: 540px;
    max-height: 660px;
}
.ch-mainimg{
    max-width: inherit;
    max-height: inherit;
}

/* -------------------- NAME -------------------- */
.ch-name{
    color: #242424;
    text-align: right;
    border-top: 3px solid #c0c0c0;
    position: relative;
    top: 72px;
    margin-top: 8px;
}
.ch-name-decor{
    font-size: 40px;
    position: absolute;
    transform: translate( -62px, -52px);
    letter-spacing: -14px;
}
.ch-name-name{
    width: 280px;
    font-size: 60px;
    font-family: "track", Tahoma, sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0px 8px;
    position: relative;
    bottom: 74px;
    z-index: 1;
    text-shadow: 2px 2px #00000040;
}
.ch-title{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    
    width: 344px;
    text-align: right;
}

/* -------------------- QUOT -------------------- */
.ch-quote{
    font-size: 14px;
    font-style: italic;
    width: 344px;
    border: 0px solid #c0c0c0;
    border-radius: 16px;
    padding: 0px 8px;
    text-align: left;
    margin-top: 8px;
/*    box-shadow: 4px 4px #0004;*/
    text-align: center;
    transform: translateY( 8px);
}
.ch-quote::before{
    content: "❝";
    font-size: 64px;
    font-family: "nagino", Tahoma, sans-serif;;
    color: #00000020;
    position: absolute;
    transform: translate( -188px, -32px);
}
.ch-quote::after{
    content: "❞";
    font-size: 64px;
    font-family: "nagino", Tahoma, sans-serif;;
    color: #00000020;
    position: absolute;
    transform: translate( -28px, -44px);
}
.ch-quote-s{
    font-style: normal;
    display: inline-block;
    width: 328px;
    text-align: right;
}

/* -------------------- TABL -------------------- */
.ch-tab{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    align-items: end;
    padding-bottom: 8px;
    border-bottom: 1px solid #d0d0d0;
}
.ooo-table{
    transform: translateX(6px);
    display: inline-block;
}

/* -------------------- BTNS -------------------- */
.ch-btn{
    border: none;
    border-radius: 16px;
    color: #fff;
    background-color: #c0c0c0;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;

    display: inline-block;
    padding: 2px 6px;
    position: absolute;
    transform: translateX(314px);
    z-index: 1;
}
.ch-btn:hover{
    filter: brightness(0.5) saturate(2);
    cursor: pointer;
}
.ch-btn::after{
    content: "click";
    font-size: 8px;
    font-weight: normal;
    color: #c0c0c0;
    position: absolute;
    transform: translate(-15px, -14px);
}

/* -------------------- DESC -------------------- */
.ch-desc{
    text-align: left;
    font-size: 14px;

    width: 344px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-bottom: 14px;
}
.ch-desc p{ margin: 16px 8px 2px;}
.ch-desc-2{
    width: 356px;
    border-left: 3px solid #d0d0d0;
    border-top-width: 0px;
    margin: 0px 8px;
    padding-bottom: 0px;
}
.ch-desc-quote{
    display: inline-block;
    width: 326px;
    text-align: right;
}
/* -------------------- DESC -------------------- */
.ch-link{
    width: 340px;
    margin: 16px 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
    border-top: 1px solid #d0d0d0;
    padding-top: 8px;
    transform: translateX(2px);
    box-sizing: border-box;
    text-align: center;
}
.ch-link a{
    width: 75px;
    height: fit-content;
    display: inline-block;
    margin: 4px 5px;
    text-align: center;
    text-decoration: none;
    font-weight: light;
    color: inherit;
}
a.first{ margin-left: 4px;}
a.last{ margin-right: 0px;}
.ch-link img{
    width: inherit;
    height: 75px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}
.ch-link span{
    display: inline-block;
    padding: 2px 4px 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: #e0e0e0;
    font-size: 12px;
}

/* --------------------      -------------------- */
.x{ display: none;}

/*-------------------------------- screen --------------------------------*/
/* phone */
@media screen and (min-width: 800px) and (max-width: 1280px){ /*960px*/
    .ch{ width: 800px;}
    .ch-txt{ min-height: 600px;}
    .ch-img{
        width: 420px;
        max-height: 600px;
    }
}
@media screen and (max-width: 800px){
    .ch, .ch-img{ max-width: 380px;}
    .ch-txt{
        border-radius: 0px 0px 16px 16px;
        width: 380px;
        padding: 0px 18px;
        min-height: inherit;
    }
}
