@font-face {
    font-family: "nagino";
    src: url("./font/nagino.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "pixel";
    src: url("./font/x12y16pxMaruMonica.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "track";
    src: url("./font/Buildingsandundertherailwaytracksfree_ver.otf");
    font-weight: normal;
    font-style: normal;
}
