@font-face {
    font-family: "nagino";
    src: url("./font/nagino.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "track";
    src: url("./font/Buildingsandundertherailwaytracksfree_ver.otf");
    font-weight: normal;
    font-style: normal;
}
