.i-thumb:hover{
    filter: brightness(0.5) saturate(2);
    cursor: pointer;
}
.illust{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: none;
    background-color: #000000c0;
    cursor: pointer;
}
.illust img{
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}
.illust::after{
    content: "(click to close)";
    color: #ffffff80;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}
