*{
    padding: 0px;
    margin: 0px;
}
a:hover{ filter: brightness(0.5) saturate(2);}
a:visited{ color: #1090e0;}
a:link{ color: #0040c0;}

.c-thumb{ width: 200px;}
.i-thumb{
    width: 80px;
    border-radius: 7.5px;
}
.row{ margin: 20px 30px;}

:root{
    --acc1: #c8c8c8;
    --acc2: #d0d0d0;
    --acc3: #dcdcdc;
    --bg: #fff;
    --title: #202020;
    --txt: #202020;
    --txtlt: #787878;
    --txtshad: #00000038;
    --btn: #c8c8c8;

    --htxt: #b0b0b0;
    --htxt2: #b0b0b0;
    --hh: #e0b840;
    --footbg: #000
}

body{
    background-color: #787878;
    color: #202020;
    font-size: 0px;
    font-family: "nagino", Tahoma, sans-serif;
}
footer{
    width: 100%;
    font-size: 12px;
    background-color: var(--footbg);
    height: fit-content;
    text-align: center;

    margin-top: 64px;

    color: var(--acc3);
    padding: 16px 0px 92px;
    border-top: 1px solid var(--acc3);
    z-index: 3;
}
footer p{ margin: 0px;}

p{ margin: 20px 30px 0px}
h1{
    font-family: "track", Tahoma, sans-serif;
    font-size: 48px;
    text-shadow: 2.5px 2.5px var(--txtshad);
    margin: 10px 20px 30px;
    padding-left: 7.5px;
    border-bottom: 2px solid var(--acc1);
    color: var(--title);
}
h2{
    font-size: 14px;
    margin: 60px 30px 0px;
}
h2::before{ content: "-- ";}
h2::after{ content: " --";}
h3{
    box-sizing: border-box;
    height: 32px;
    font-family: "track", Tahoma, sans-serif;
    font-size: 16px;
    margin: 48px 20px 0px;
    padding: 0px 10px;
    color: var(--htxt2);
    border-bottom: 10px solid var(--htxt2);
}
h3 span{
    background-color: #fff;
    padding: 2px;
    position: relative;
    top: 15px;
}
h4{
    font-family: "track", Tahoma, sans-serif;
    font-size: 28px;
    text-shadow: 1px 1px var(--txtshad);
    margin: 40px 18px 0px;
    padding: 0px 8px 0px 5px;
    color: var(--title);
    width: fit-content;
    border-bottom: 1.5px solid var(--acc1);
}
h4::after{
    content: "✦";
    color: #fff;
    -webkit-text-stroke: 1px var(--acc1);
    position: absolute;
    text-shadow: none;
    font-size: 20px;
    transform: translate( 2px, 19.5px);
}
hr{
    margin: 12px 8px 0px;
    border: none;
    border-bottom: 1px solid var(--acc1);
}
a:hover{ filter: brightness(0.5) saturate(2);}

img {
    max-width: 100%;
    margin: 0px auto;
    display: inline-block;
}
.ooo-table{
    margin: 20px 30px 0px;
    border: 1px solid #c8c8c8;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 5px 0px;
}
.ooo-row{ margin: 5px 0px}
.ooo-tl{ color: var(--txtlt);}

/*--------------------------------  main  --------------------------------*/
.mydiv{
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background-color: #fff;
    border-radius: 0px 0px 25px 25px;
    padding-top: 16px;
}

.side-frame{
    border: none;
    width: 180px;
    height: 720px;
    border-bottom-left-radius: inherit;
    position: relative;
    left: 8px;
}

.main{
    width: 700px;
    display: inline-block;
    margin-bottom: 40px;
}
.main-content{
    font-family: inherit;
    font-size: 14px;
    text-align: left;
    
    width: inherit;
    min-height: 400px;
    box-sizing: border-box;

    position: relative;
    top:-20px;
    z-index: 2px;
}

.sepparate{
    width: 1px;
    height: 700px;
    background-image: linear-gradient(var(--acc1), #f0f0f0);
    position: absolute;
}

/*-------------------------------- screen --------------------------------*/
.x{ display: none;}

@media screen and (min-width: 800px) and (max-width: 920px){ /*920*/
    .mydiv{ width: 800px;}
    .main{ width: 600px;}
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .mydiv{ width: 600px;}
}
@media screen and (max-width: 800px){
    .main{ width: inherit;}
    .sepparate{ display: none;}
    .side-frame{
        left: 0px;
        height: 90px;
        width: 100%;
    }
    .mydiv{padding: 20px 0px 0px;}
}
@media screen and (max-width: 600px){
    .mydiv{
        width: 100%;
        margin: 0px;
    }
}
