
.ooo-table{
    font-size: 0px;
    width: 320px;
    display: inline-block;
    vertical-align: bottom;
}
.ooo-table div{ display: inline-block;}

.ooo-row{
    margin: 4px 0px;
    width: inherit;
}

.ooo-tl, .ooo-tr{ font-size: 14px;}
.ooo-tl{
    color: #808080;
    width: 98px;
    text-align: left;
    border-right: 0px solid #d0d0d0;
}
.ooo-tr{
    width: 212px;
    text-align: left;
    margin-left: 8px;
}
.ooo-tr span{
    width: fit-content;
    padding: 0px 1px;
}
/* --------------------  big -------------------- */
@media screen and (min-width: 800px){
    .ooo-big{ width: 420px;}
    .ooo-big .ooo-tr{ width: 312px;}
    .ooo-bigger{ width: 520px;}
    .ooo-bigger .ooo-tr{ width: 412px;}
}
