*{
    margin: 0px;
    padding: 0px;   
}
.dts a:link{ color: #fc3018;}
.dts a:visited{ color: #c01800;}
a:hover{ filter: brightness(0.5) saturate(2);}
.arrow.dts{ text-decoration: none;}

:root{
    --txt: #dcdcdc;
}

body{
    font-size: 0px;
    background-color: #000;
    background-image: url(./meta/bg_hesh_64.png);
    background-size: 24px;
    background-position: center;
    font-family: "nagino", Tahoma, sans-serif;
}

p, a, h2{
    font-size: 14px;
    font-weight: normal;
    margin: 20px 10px 4px;
}
h2{
    margin: 52px 10px 28px;
    /*
    border: 1px solid #404040;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 4px 0px
    */
}
h4{
    font-size: 12px;
    font-weight: normal;
    color: var(--txt);
    margin: 28px 8px 52px;
}

/* -------------------- SIDE -------------------- */
aside{
    background-color: #000;
    border: 1px solid #fffc;

    margin: 80px auto;
    top: 40px;
    height: fit-content;
    width: 120px;
    text-align: center;
    color: var(--txt);
    border-radius: 0px 2px 2px 0px;
}
nav{
    font-size: 14px;
    letter-spacing: 2px;
    margin: 4px;
}
nav a{
    display: block;
    margin: 4px;
}

/* -------------------- MAIN -------------------- */
.page{
    background-color: #000;
    width: 800px;
    min-height: 200px;
    color: var(--txt);
}
img{ width: inherit;}

/* -------------------- ARROW -------------------- */
.arrow{
    background-color: #000;
    border: 1px solid #fffc;
    width: 120px;
    height: 44px;
    margin: 60px 0px 160px;
    border-radius: 0px 2px 2px 0px;
}
.arrow a{
    display: inline;
    font-size: 18px;
    position: relative;
    top: 8px;
    margin: 0px 4px;
}


/* -------------------- SCREEN -------------------- */
@media screen and (max-width: 800px){
    .page{ width: 100%;}
}